<ion-view view-title="Wohnzimmer">
  <ion-content>
    <ion-list>

      <ion-item ng-model="status.wz_heizung" disabled>
        Heizung
      </ion-item>
      <ion-toggle ng-model="status.wz_stkd_fernseher" ng-change="toggleSocket('WZ_Stkd_Fernseher', status.wz_stkd_fernseher)">
        Steckdose am Fernseher
      </ion-toggle>
      <ion-toggle ng-model="status.wz_stkd_router" ng-change="toggleSocket('WZ_Stkd_Router', status.wz_stkd_router)">
        Steckdose für den Deckenfluter
      </ion-toggle>
      <ion-item>
        Fensterkontakt links
        <div class="item-icon-right">
          <i ng-if="!status.wz_fensterkontakt_links" class="icon ion-locked"></i>
          <i ng-if="status.wz_fensterkontakt_links" class="icon ion-unlocked"></i>
        </div>
      </ion-item>
      <ion-item>
        Fensterkontakt rechts
        <div class="item-icon-right">
          <i ng-if="!status.wz_fensterkontakt_rechts" class="icon ion-locked"></i>
          <i ng-if="status.wz_fensterkontakt_rechts" class="icon ion-unlocked"></i>
        </div>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
