<ion-view view-title="Schlafzimmer">
  <ion-content>
    <ion-list>

      <ion-item ng-model="status.sz_heizung" disabled>
        SZ_Heizung
      </ion-item>

      <ion-item>
        Fensterkontakt im Bad
        <div class="item-icon-right">
          <i ng-if="!status.bz_fensterkontakt" class="icon ion-key"></i>
          <i ng-if="status.bz_fensterkontakt" class="icon ion-image"></i>
        </div>
      </ion-item>
      <ion-item>
        Fensterkontakt im Schlafzimmer
        <div class="item-icon-right">
          <i ng-if="!status.sz_fensterkontakt" class="icon ion-locked"></i>
          <i ng-if="status.sz_fensterkontakt" class="icon ion-unlocked"></i>
        </div>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
