<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Wohnzimmer" icon-off="ion-easel" icon-on="ion-easel" href="#/tab/wohnzimmer">
    <ion-nav-view name="tab-wohnzimmer"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Schlafzimmer" icon-off="ion-ios-moon-outline" icon-on="ion-ios-moon" href="#/tab/schlafzimmer">
    <ion-nav-view name="tab-schlafzimmer"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Arbeitszimmer" icon-off="ion-ios-printer-outline" icon-on="ion-ios-printer" href="#/tab/arbeitszimmer">
    <ion-nav-view name="tab-arbeitszimmer"></ion-nav-view>
  </ion-tab>


  <ion-tab title="HomeStatus" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/homeStatus">
    <ion-nav-view name="tab-homeStatus"></ion-nav-view>
  </ion-tab>


</ion-tabs>
